<div id="add-menu-popup-layer">
    <div id="add-menu-popup">
        <ul id="add-menu-list">
        <% menu_num = 0 %>
        <% @menus.each do |menu| %>
            <li>
                <%= check_box_tag "add_menu_#{menu_num}", menu.id, @check_menuid_list[menu_num], {:class => "add_menu_checkbox"}  %>
                <%= label_tag "add_menu_#{menu_num}", menu.name %>
            </li>
            <% menu_num += 1 %>
        <% end %>
        </ul>
        <%= hidden_field_tag :menu_num, menu_num %>
        <%= button_tag "選択したメニューを追加", :type => "button", :onclick => "SubmitAction('#{add_menus_diaries_path}');" %>
        <input type="button" id="add-menu-close" value="閉じる" onClick="OnClickCloseAddMenuButton();">
    </div>
</div>
