<ul class="list-group list-group-flush">
<% if menus.count == 0 %>
    <li class="list-group-item">
        登録メニューがありません。
    </li>
<% else %>
    <% menus.each do |menu| %>
        <li class="list-group-item">
            <%= check_box_tag "menu[#{menu.id}]" %>
            <% if (current_user != menu.author_id) && (menu.secret) %>
                <%= menu.name %>
            <% else %>
                <%= link_to menu.name, menu_path(menu.id) %>
            <% end %>
        </li>
    <% end %>
<% end %>
</ul>
