<div class="error_notice">
<% if nil != @group %>
  <% if @group.errors.any? %>
    <div class="error_explanation">
      <ul style="list-style:none;">
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
</div>