<h2>フォロー一覧</h2>
<div id="follow-index">
    フォロー数(<%= @user.following_users.count %>)
    <ul class="list-group">
    <% @follows.each do |follow| %>
        <li class="list-group-item">
            <%= image_tag follow.image, :size => "50x50", :class => "rounded-circle" %>
            &emsp;
            <%= link_to follow.name, user_path(follow.id) %>
        </li>
    <% end %>
</div>
<div class="my-pagenate clearfix">
    <%= paginate @follows %>
</div>
