<br>
<br>
<br>
<br>
<h2>フォロー一覧</h2>
<div id="follow-index">
    フォロー数(<%= @user.following_users.count %>)
    <% @follows.each do |follow| %>
        <div class="follow-user">
            <%= image_tag follow.image, :size => "50x50" %>
            &emsp;
            <%= link_to follow.name, user_path(follow.id) %>
        </div>
    <% end %>
</div>

