<h2>フォロワー一覧</h2>
<div id="follower-index">
    フォロワー数(<%= @followers.count %>)
    <ul class="list-group">
    <% @followers.each do |follower| %>
        <li class="list-group-item">
            <%= image_tag follower.image, :size => "50x50", :class => "rounded-circle" %>
            &emsp;
            <%= link_to follower.name, user_path(follower.id) %>
        </li>
    <% end %>
</div>

