<div class="user-show-body">
  <%= render "users/user_header", :user => @user, :diaries => get_diaries(@user) %>
  <%= render "users/user_nav", :user => @user %>
  <div class="user-notice div-center">
    <div class="timeline-area div-center">
      <%= render "users/timeline", :notices => @user.notices %>
    </div>
  </div>
</div>
