<div class="card border-primary mb-3 mx-auto" style="max-width: 45rem; margin-top: 20px;">
  <div class="card-header h3">よくあるご質問</div>
  <div class="card-body terms-body">
    <p>順次更新していきますので、お待ち下さい。</p>
  </div>
</div>
