
<div class="home-body" style="background-image:url(<%= asset_path "background.jpg" %>)">
    <div class="home-trans">
        <div class="home-sentence">
            <p>陸上競技専用の練習日記管理サービス</p>
            <br>
            <p>グループで共有することで更に便利に</p>
            <br>
            <p>さあ、始めてみよう</p>
            <br>
            <p><%= link_to "新規登録", new_user_registration_path %></p>
        </div>
    </div>
</div>
