<div class="home-body">
    <p class="top-title text-success"><strong>TFDiary</strong></p>
    <%= image_tag asset_path("background.jpg"), :class => "top-image" %>
    <div class="home-trans">
        <div class="home-sentence">
            <p>陸上競技専用の練習日記管理サービスです</p>
            <br>
            <p>グループで共有することで更に便利に</p>
            <br>
            <p>さあ、始めてみよう</p>
            <br>
            <p><%= link_to "新規登録", new_user_registration_path, :class => "btn btn-success btn-lg" %></p>
        </div>
    </div>
</div>
