// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diary-create {
    width: 80%;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
}

.diary-label {
    width: 80%;
    text-align: left;
    position: relative;
    padding-left: 25px;

    &:before {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        width: 0;
        height: 0;
        border: none;
        border-left: solid 15px transparent;
        border-bottom: solid 15px rgb(119, 195, 223);
    }

    &:after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 10px;
        width: 100%;
        border-bottom: solid 3px rgb(119, 195, 223);
    }
}

.dialy-explain-input {
    border-radius: 5px;
    width: 60%;
}

#add-menu-button {
    margin: auto;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
}

#add-menu-button:hover {
    background: #1ec7bb;
    cursor: pointer;
}

#add-menu-popup-layer {
    display: none;  /* 初期表示は非表示 */
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.2);
}

#add-menu-popup {
    display: none;  /* 初期表示は非表示 */
    position: absolute; 
    left: 50%;
    top: 50%;
    width: 300px;
    height: 400px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#add-menu-close {
}

#add-menu-list {
    padding-top: 20px;
    padding-left: 30px;
    list-style: none;
    
    li {
        width: 90%;
        height: 50px;
        padding-top: 10px;
        text-align: left;
        border-bottom: solid 1px gray;
    }
}

.table thead th {
    text-align: center;
}

.calendar-title {
    font-size: 30px;
}

#diary-edit-link, #diary-detail, #diary-favorite {
    width: 60%;
    margin: auto;
}

#diary-detail {
    border-radius: 5px;
    border: solid 1px black;
    background: white;
    padding-bottom: 20px;
}

.diary-column {
    clear:both;
    width: 90%;
    position: relative;
    padding-top: 10px;
    padding-left: 25px;
    margin: auto;
    text-align: left;
    font-style: italic;

    &:before {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        width: 0;
        height: 0;
        border: none;
        border-left: solid 15px transparent;
        border-bottom: solid 15px rgb(119, 195, 223);
    }

    &:after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 10px;
        width: 100%;
        border-bottom: solid 3px rgb(119, 195, 223);
    }
}

#diary-detail-menu, #diary-detail-explain {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

#diary-menu-table {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background: white;
}

.table-font {
    font-size: 15px;
}

#diary-edit-link {
    text-align: center;
}

.diary-favorite-button, .diary-unfavorite-button {
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: solid 2px #668ad8;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    float: left;
    margin: 10px 0px;
    
    &:hover {
        cursor: pointer;
    }
}

.diary-favorite-button {
    color: #668ad8;;
    background: white;
}

.diary-unfavorite-button {
    color: white;
    background: #668ad8;
}

#diary-favorite-count {
    width: 80px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin: 10px 0px;
    padding-left: 10px;
}

#diary-detail-explain p {
    text-align: left;
}

.column-field {
    width: 60%;
    height: 40px;
    float: left;
}

.column-unit {
    width: 40%;
    height: 40px;
    padding: 10px 0;
    float: left;
}

.add-menu-link {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.menu-add-submit {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.diary-favoriter {
    width: 60%;
    margin: auto;
}