// Place all the styles related to the GroupMember controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-member-top {
    text-align: center;
}

.group-member-leftside {
    width: 40%;
    float: left;

    .group-member-name {
    }
    
    .group-member-image {
        padding: 0 30px;
        width: 60%;
        margin: auto;
    }
    
    .group-member-image img {
      border-radius: 20px;
    }
    
    .group-member-target {
        
    }
    
    .group-member-target-box {
        width: 80%;
        margin: auto;
        border: solid 1px black;
        border-radius: 5px;
        background: white;
    }
}

.group-member-rightside {
    width: 60%;
    float: left;
    
    .group-member-todaymenu {
        width: 80%;
        margin: auto;
    }
    
    .group-member-todaymenu-box {
        border: solid 1px black;
        border-radius: 5px;
        background: white;
    }
    
    .group-member-chat {
        width: 80%;
        margin: auto;
    }
    
    .group-member-chat-box {
        border: solid 1px black;
        border-radius: 5px;
        background: white;
    }
}

#member-index {
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

.member-user {
    border-bottom: solid 2px silver;
    padding: 10px;
    
    & img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
}

.group-member-setting {
    width: 60%;
    margin: auto;
    padding: 15px 0px;
}