// Place all the styles related to the GroupMember controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-member-top {
    text-align: center;
}

.group-member-profile {
    width: 40%;
    margin: auto;
    padding: 10px 0;

    .group-member-name {
    }
    
    .group-member-image {
        padding: 0 30px;
        width: 60%;
        margin: auto;
    }
    
    .group-member-image img {
      border-radius: 20px;
    }
    
    .group-member-target {
        
    }
    
    .group-member-target-box {
        width: 80%;
        height: 100px;
        margin: auto;
        border: solid 1px black;
        border-radius: 5px;
        background: white;
    }
}

.group-member-menu {
    width: 60%;
    margin: auto;
    padding: 10px 0;

    .group-member-todaymenu {
        width: 60%;
        padding: 10px 0px;
        margin: auto;
    }
    
    .group-member-todaymenu-box {
        height: 150px;
        border: solid 1px black;
        border-radius: 5px;
        background: white;
        overflow: scroll;
    }
    
    .group-member-chat {
        width: 60%;
        padding: 10px 0px;
        margin: auto;
    }
    
    .group-member-chat-box {
        height: 150px;
        border: solid 1px black;
        border-radius: 5px;
        background: white;
        overflow: scroll;
    }
}

#member-index {
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    width: 60%;
    margin: 0 auto;
}

.member-user {
    border-bottom: solid 2px silver;
    padding: 10px;
    
    & img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
}

.group-member-setting {
    width: 60%;
    margin: auto;
    padding: 15px 0px;
}

.chat {
    width: 90%;
    margin: auto;
    border-bottom: solid 2px silver;
    padding: 10px;
    text-align: left;
    
    .chat-user {
        & img {
            width: 25px;
            height: 25px;
            border-radius: 30px;
        }
    }
    
    .chat-content {
        padding-left: 50px;
        & p {
            text-align: left;
            margin: 0;
        }
    }
}

#group-chat {
    width: 60%;
    margin: auto;
    
    #group-chat-post {
        width: 40%;
        margin: auto;
        padding: 10px 0px;
        text-align: center;
        
        .chat-post {
            padding: 5px 0px;
        }
    }
    
    #group-chat-box {
        width: 80%;
        margin: auto;
        padding: 10px 0px;
        border: solid 1px black;
        border-radius: 5px;
        background: white;
    }
}

.return_to_group_top {
    width: 50%;
    margin: 20px auto;
    text-align: right;
}