// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-body {
    // background-size: cover;
}

.home-tfdiary-body {
    text-align: center;
}

.tfdiary-image {
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    float: left;
    
    & img {
        border: solid 1px black;
        border-radius: 5px;
        
    }
}

.tfdiary-image-area {
    width: 80%;
    margin: auto;
}

.home-login {
    text-align: center;
}

.top-title {
    font-size: 48px;
    text-align: center;
    padding: 10px 0px;
    margin: 0;
}

.top-image {
    width: 100%;
    filter: brightness(50%);
}

.home-sentence {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 200px;
    margin: auto 20%;
    text-align: center;
    font-size: 30px;
    font-family: 'mplus-1c-regular';
}