// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-body {
    background-size: cover;
    height: 900px;
}

.home-tfdiary-body {
    text-align: center;
}

.tfdiary-image {
    width: 45%;
    border-radius: 10px;
    float:left;
}

.tfdiary-image-gap {
    width: 10%;
    float:left;
}

.home-login {
    text-align: center;
}

.home-trans {
    height: 100%;
    background: rgba(255,255,255, 0.6);
}

.home-sentence {
    height: 50%;
    padding-top: 200px;
    
    & p {
        text-align: center;
        font-size: 30px;
        font-family: 'mplus-1c-regular';
    }
}