// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_notice {
}

.error_explanation {
    border: solid 1px black;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    & li {
        text-align: center;
        padding: 10px;
    }
}

.menu-create, .menu-search, .menu-show {
    text-align: center;
}

.menu-create {
    width: 40%;
    margin: auto;
    .form-margin {
        margin: 5px auto;
    }
}

.menu-show {
    & ul {
        list-style-type: none;
    }
}

.menu-name-list {
    width: 60%;
    margin: auto;
    padding: 10px;
    height: 60px;
    & li {
        float: left;
    }
}

.menu-name {
    height: 40px;
    padding: 10px;
    width: 40%;
    text-align: left;
}

.menu-button {
    width: 30%;
}

.menu-edit-link {
    height: 40px;
    padding: 10px;
    width: 30%;
}

.menu-followers-num {
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: left;
}

.menu-author {
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: left;
    
    .author-img {
        width: 30px;
        height: 30px;
        border-radius: 20px;
    }
}

.menu-column {
    clear:both;
    width: 60%;
    position: relative;
    padding-left: 25px;
    margin: auto;
    text-align: left;
    font-style: italic;
}

.menu-column:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(119, 195, 223);
}

.menu-column:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px rgb(119, 195, 223);
}

.menu-explain-box {
    border: solid 1px;
    border-radius: 3px;
    width: 60%;
    margin: auto;
    background-color: white;
    text-align: left;
    height: 10em;
    overflow: scroll;
}

.menu-box {
    border: solid 1px black;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;

    & ul {
        list-style-type: none;
        padding: 0;
    }

    & li {
        text-align: left;
        padding: 10px;
    }
}

#menu-regist-button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    &:hover {
        cursor : pointer;
    }
}

.regist {
    background: #67c5ff;
    color: white;
}

.deregist {
    background: white;
    color: #67c5ff;
}

.menu-register {
    width: 60%;
    margin: auto;
}