// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
    .user-image {
        padding: 0 30px;
        width: 40%; /* ボックスの幅 */
        text-align: center;
        
        & p {
            margin: 5px 0;
        }
        
        #user-follow-button {
            margin-bottom: 10px;
            display: inline-block;
            padding: 0.3em 1em;
            text-decoration: none;
            border: solid 2px #67c5ff;
            border-radius: 3px;
            transition: .4s;
            &:hover {
                cursor : pointer;
            }
        }
        
        .follow {
            background: #67c5ff;
            color: white;
        }
        
        .unfollow {
            background: white;
            color: #67c5ff;
        }
    }
    
    .user-image img {
      border-radius: 20px;
    }
    
    .user-info {
        width: 60%;
        line-height: 200%;
        
        & p {
            margin: 0;
        }
        
        .user-practice {
            .practice-box{
                height: 160px;
                position: relative;
                margin-bottom: 1em;
                padding: 0.5em 1em;
                border: solid 1px black;
                border-radius: 8px;
                overflow: scroll;
            }
            
            .practice-box .box-title {
                // position: absolute;
                // display: inline-block;
                // top: -13px;
                // left: 10px;
                // padding: 0 9px;
                // line-height: 1;
                color: black;
                font-weight: bold;
            }
    
            .practice-box p {
                margin: 0; 
                padding: 0;
            }
            
            .box-title {
                font-style: italic;
            }
        }
    }
}

.user-notice {
    height: 350px;
    clear: both;
    overflow: scroll;
    
    .timeline-area {
        text-align: left;
    }
}

.user-show-body {
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

.div-center {
    margin: 0 auto;
}

.ignore {
    display:none;
}

.image-select {
    cursor : pointer;
}

.square_btn:active {/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

#follow-index, #follower-index, #group-index {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    
    & ul {
        border: solid 1px black;
        border-radius: 5px;
    }
}

#menu-index {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.follow-user, .follower-user {
    border-bottom: solid 2px silver;
    padding: 10px;
    
    & img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
}

.menu {
    border-bottom: solid 2px silver;
    padding: 10px;
}

.other-user-menu {
    padding: 25px;

    & ul {
        list-style: none; 
        width: 60%;
        height: 250px;
        margin: auto;
        padding: 0;
        & li {
            width: 50%;
            margin: auto;
            float: left;
            padding: 10px 0px;

            .user-menu-list {
                width: 90%;
                margin: auto;
                border: solid 1px black;
                border-radius: 5px;
                background: white;
                padding: 10px 0px;
            }
        }
    }
}

.unregist_confirm {
    width: 60%;
    margin: auto;
    text-align: center;
    
    & ul {
        list-style: none;
        margin: 20px auto;
        padding: 0;
    }
}