// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show-body {
    text-align: center;

    .user-profile {
        height: 250px;
        width: 90%;
        .user-image {
            padding: 0 30px;
            width: 40%; /* ボックスの幅 */
        }
        
        .user-image img {
          border-radius: 20px;
        }
        
        .user-info {
            width: 50%;
            line-height: 200%;
            
            & p {
                margin: 0;
            }
        }
    }
    
    .user-notice {
        height: 200px;
        width: 90%;
        clear: both;
        .user-timeline {
            width: 40%;
            padding: 20px 30px;
            
            & p {
                font-style: italic;
                margin: 0;
            }
            
            .timeline-box {
                width: 100%; /* ボックスの幅 */
                background-color: #ffffff; /* ボックスの背景色 */
                border: 1px #c0c0c0 solid; /* ボックスの境界線 */
                font-size: 80%; /* ボックスの文字サイズ */
                border-radius: 10px;
                margin: 0 auto;
    
                .timeline-area {
                    height: 120px; /* 本文領域の高さ */
                    overflow: auto;
                    p {
                        margin: 1em 10px; /* 段落のマージン（上下、左右） */
                    }
                }
            }
        }
        
        .user-practice {
            padding: 20px 30px;
            width: 50%;

            .practice-box{
                position: relative;
                margin: 2em 0;
                padding: 0.5em 1em;
                border: solid 3px #95ccff;
                border-radius: 8px;
            }
            
            .practice-box .box-title {
                position: absolute;
                display: inline-block;
                top: -13px;
                left: 10px;
                padding: 0 9px;
                line-height: 1;
                background: #C2EEFF;
                color: black;
                font-weight: bold;
            }

            .practice-box p {
                margin: 0; 
                padding: 0;
            }
            
            .box-title {
                font-style: italic;
            }
        }
    }
    
    #user-follow-button {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
        &:hover {
            cursor : pointer;
        }
    }
    
    .follow {
        background: #67c5ff;
        color: white;
    }
    
    .unfollow {
        background: white;
        color: #67c5ff;
    }

}

.div-center {
    margin: 0 auto;
}

// label > input {
// 	display:none;	/* アップロードボタンのスタイルを無効にする */
// }
// label {
// 	color: #AAAAAA;					/* ラベルテキストの色を指定する */
// }

.ignore {
    display:none;
}

.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor : pointer;
}

.square_btn:active {/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

#follow-index, #follower-index, #menu-index, #group-index {
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

.follow-user, .follower-user, .affiliation-group {
    border-bottom: solid 2px silver;
    padding: 10px;
    
    & img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
}

.menu {
    border-bottom: solid 2px silver;
    padding: 10px;
}

.other-user-menu {
    padding: 25px;

    & ul {
        list-style: none; 
        width: 60%;
        height: 250px;
        margin: auto;
        padding: 0;
        & li {
            width: 50%;
            margin: auto;
            float: left;
            padding: 10px 0px;

            .user-menu-list {
                width: 90%;
                margin: auto;
                border: solid 1px black;
                border-radius: 5px;
                background: white;
                padding: 10px 0px;
            }
        }
    }
}