<footer class="fixed-bottom bg-info text-white">
  <div class="footer-content">
    <nav>
      <ul>
        <li class="footer-link">
          <%= link_to "利用規約", '#', :class => "text-white" %>
        </li>
        <li class="footer-link">
          <%= link_to "よくあるご質問", '#', :class => "text-white" %>
        </li>
        <li class="footer-link">
          <%= link_to "お問い合わせ", '#', :class => "text-white" %>
        </li>
        <li class="footer-link">
          <%= link_to "退会について", '#', :class => "text-white" %>
        </li>
      </ul>
    </nav>
    <div class="copy-right">
      © 2018 Hi Assist Service.
    </div>
  </div>
</footer>