<h2>メニュー達成状況</h2>
<div class="menu-status">
    <%= image_tag asset_path("icon/kojichu.png"), :size => "100x100" %>
    <br>
    今後のアップデートで実装予定です。お楽しみに！
</div>

<%= render "group_member/return_link", id: @group.id %>
